@media screen and (min-width: 1060px) {
  .wrapper-cards {
    padding: 20px;
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    max-width: 1200px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
  }

  .row_pc :nth-child(1) {
    order: 2;
  }
  .row_pc :nth-child(2) {
    order: 1;
  }
}

.card-wave {
  position: absolute;
}

/* .bg-color {
  background-color: #84cc64;
} */

.about-us {
  font-weight: bolder;
}

.tagcloud {
  display: inline-block;
  font-size: 1.05rem;
  font-weight: normal;
  left: 10%;
  letter-spacing: 1px;
  transition: 0.3s;
}
.tagcloud--item:hover {
  color: #e2f3f5;
  cursor: pointer;
  font-weight: bolder;
}

.title-heading {
  flex-basis: 700px;
}

.content {
  flex-basis: 800px;
}

.Chemista-main {
  color: #58a237;
  font-weight: bolder;
}

.Chemista-desc {
  font-weight: bolder;
}

.tagcloud--item {
  color: #58a237;
  font-weight: bolder;
}

.tagcloud--item:hover {
  color: #121d97;
}

@media screen and (max-width: 510px) {
}

#one {
  background: url(https://images.unsplash.com/photo-1519011985187-444d62641929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2452&q=80)
    no-repeat 50% 50%;
  background-size: cover;
}

#two {
  background: url(https://images.unsplash.com/photo-1509679708047-e0e562d21e44?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)
    no-repeat 50% 50%;
  background-size: cover;
}

#three {
  background: url(https://images.unsplash.com/photo-1508215302842-8a015a452a20?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80)
    no-repeat 50% 50%;
  background-size: cover;
}

.image-slider {
  z-index: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.image-slide {
  height: 100vh;
  margin: 0 auto;
}

.slick-slide.slick-center {
  transform: scale(1.2);
  transition: transform 0.8s 1.4s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.slick-slide {
  transition: transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.slider-control {
  margin: 0%;
  position: absolute;
  z-index: 2;
  bottom: 4%;
  left: 15%;
  transform: translate(-50%, -50%);
  display: flex;
}

button {
  color: #fff;
  background: none;
  padding: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  border-radius: 50%;
  margin: 0.4em;
  display: inline-block;
}

button:focus {
  outline: none;
}

.block-1 {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 5%;
  left: 0%;
  background: #0f0f0f;
}

.block-2 {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 25%;
  left: 25%;
  background: #0f0f0f;
}

.block-3 {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 5%;
  right: 0%;
  background: #0f0f0f;
}

.overlay {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 20%;
  left: 5%;
  background: rgba(0, 0, 0, 0.65);
}

.text-slider-wrapper {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 30%;
}

.text-slider {
  margin: 0%;
  padding: 0%;
  height: 100vh;
}

.text-slide h1 {
  color: #fff;
  font-size: 64px;
  font-family: "Cinzel";
  font-weight: lighter;
  text-transform: uppercase;
  padding-left: 10%;
}

@media (max-width: 990px) {
  .block-2,
  .overlay {
    display: none;
  }

  .block-1 {
    width: 50%;
  }

  .block-3 {
    width: 12%;
  }

  .slide-slick {
    display: none !important;
  }

  .text-slide h1 {
    font-size: 30px !important;
  }

  .text-slider-wrapper {
    position: absolute;
    top: 50% !important;
  }

  .slider-control {
    left: 22.5%;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.web-info {
  animation: 1s ease-out 0s 1 slideFromLeft;
}

a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: #58a237;
  color: #fff;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #fffff2;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #121d97;
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: #121d97;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #121d97;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 46px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 48px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 42px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 54px;
}

.footer-copyright {
  background-color: #121d97;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

.footer-copyright-link:hover {
  color: #58a237;
  text-decoration: none;
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}

.videoWrapper {
  position: relative;
  padding-bottom: 36.25%; /* 16:9 */

  height: 0;
}
.videoWrapper iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
